@import url("global.css");

main{
     grid-column-start: 1;
     grid-column-end: 13;

     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto 1fr;
     height: fit-content;
     column-gap: 20px;
     font-family: 'Quicksand';
     margin-top: 80px;
}

/*ESTILOS DEL BANNER*/
main h1{
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 40px;
     line-height: 47px;
     color: var(--secundario);
}

/*ESTILOS DEL CONTENEDOR DE LOS PRODUCTOS*/
.products-container{
     grid-column-start: 1;
     grid-column-end: 13;

     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto 1fr;
     column-gap: 20px;

     margin-top: 50px;
}

.products-container .card{
     padding: 40px 20px;
     margin-bottom: 20px;
     background: #fff;
     box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.09);
     border-radius: 30px;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.products-container .card .img-card{
     width: 40%;
}

.products-container .card .img-card img{
     width: 100%;
}

.products-container .card .card-details{
     width: 58%;
}

.products-container .card .card-details .card-info a{
     text-decoration: none;
     color: var(--negro);
}

.products-container .card .card-details .card-info a:hover{
     color: var(--primario);
}

.products-container .card .card-details .card-info .product-name{
     font-size: 20px;
     line-height: 20px;
     font-weight: normal;
}

.products-container .card .card-details .card-info .product-price{
     font-size: 20px;
     line-height: 20px;
     margin-top: 20px;
     color: var(--negro);
}

.products-container .card .card-details .card-icons a{
     display: inline-block;
     margin-top: 40px;
}

.products-container .card .card-details .card-icons a:hover i{
     transition: all ease 0.2s;
     color: var(--primario);
}

.products-container .card .card-details .card-icons i{
     font-weight: 900;
     font-size: 30px;
     line-height: 30px;
     margin-right: 20px;
     color: #fff;
     -webkit-text-stroke: 2px var(--primario);
}

.products-container .card .card-details .card-icons .fa-heart{
     color: var(--primario);
}

.products-container .card .card-details .card-icons a:hover .fa-heart{
     transition: all ease 0.2s;
     color: var(--secundario);
     -webkit-text-stroke: 2px var(--secundario);
}

.products-container .card .card-details .card-shop{
     padding: 10px;
     margin-top: 20px;
     background: #0066BB;
     border-radius: 10px;
     font-weight: 500;
     font-size: 24px;
     line-height: 30px;
     color: var(--blanco);
}

/*ESTILOS DE LA PAGINACIÓN*/
.pagination{
     grid-column-start: 1;
     grid-column-end: 13;
     justify-self: center;
     text-align: center;

     position: relative;
     background: #fff;
     display: flex;
     padding: 10px 20px;
     margin-top: 50px;
     border-radius: 50px;
     box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.pagination li{
     list-style:none;
     line-height: 50px;
     margin: 0 5px;
}

.pagination li.page-number{
     width: 50px;
     height: 50px;
     line-height: 50px;
}

.pagination li a{
     display: block;
     text-decoration: none;
     color: var(--gris);
     font-weight: 600;
     border-radius: 15px;
}

.pagination li.page-number:hover a,
.pagination li.page-number.active a{
     background: var(--primario);
     color: var(--blanco);
}

@media screen and (max-width: 1400px) {
     .products-container .card .card-details .card-info .product-price{
          margin-top: 10px;
     }

     .products-container .card .card-details .card-info .product-name,
     .products-container .card .card-details .card-info .product-price{
          font-size: 16px;
          line-height: 16px;
     }

     .products-container .card .card-details .card-icons a{
          margin-top: 30px;
     }

     .products-container .card .card-details .card-icons i{
          font-size: 26px;
          line-height: 26px;
     }

     .products-container .card .card-details .card-shop{
          font-size: 20px;
          line-height: 25px;
          margin-top: 10px;
     }
}