.menu, footer{
     display: none !important;
}

main{
     display: flex;
     justify-content: center;
     align-items: center;
}

.logo{
     grid-column-start: 6 !important;
     grid-column-end: 8 !important;
     justify-self: center;
}

/*ESTILOS DEL FORMULARIO*/
.form{
     width: 25%;
     
     padding: 50px;
     background: #FFFFFF;
     box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.09);
     border-radius: 30px;
     text-align: center;
}

.form h1{
     text-align: center;
     color: var(--primario);
}

/*ESTILOS DE LOS INPUTS DE TEXTO*/
.form .input-group{
     margin-top: 30px;
}

.form .input-group input[type="text"],
.form .input-group input[type="email"],
.form .input-group input[type="password"]{
     width: 100%;
     background: none;
     outline: none;
     border: none;

     padding: 15px 10px 15px 38px;
     border: 2px solid var(--negro);
     border-radius: 10px;
     background: var(--blanco);

     font-weight: 700;
     
     color: var(--negro);
}

.form .input-group input[type="text"]:focus,
.form .input-group input[type="email"]:focus,
.form .input-group input[type="password"]:focus{
     border: 2px solid var(--primario);
     transition: all ease 0.2s;
}

.form .input-group input[type="text"]:focus + i,
.form .input-group input[type="email"]:focus + i,
.form .input-group input[type="password"]:focus + i{
     color: var(--primario);
     transition: all ease 0.15s;
}

.form .input-group input[type="text"]::placeholder,
.form .input-group input[type="email"]::placeholder,
.form .input-group input[type="password"]::placeholder{
     font-weight: 500;
     color: var(--gris);
}

.form .input-group .input{
     position: relative;
     margin-bottom: 15px;
}

.form .input-group .input:last-of-type{
     margin-bottom: 0;
}

.form .input-group i{
     position: absolute;
     left: 0;
     top: 50%;
     transform: translate(0, -50%);

     font-size: 18px;
     margin-left: 10px;
     color: var(--gris);
}

/*ESTILOS DEL BOTÓN*/
.form input[type="submit"]{
     background: none;
     outline: none;
     border: none;
     cursor: pointer;

     padding: 10px 50px;
     margin-top: 40px;
     border-radius: 8px;
     background: var(--negro);
     
     color: var(--blanco);
}

.form input[type="submit"]:hover{
     background: var(--primario);
     transition: all ease 0.2s;
}

/*ESTILOS DEL TEXTO INFERIOR*/
.form .sign-in-out{
     margin-top: 40px;
}

.form .sign-in-out a{
     text-decoration: none;
     color: var(--primario);
     font-weight: 500;
}

/*ESTILO ÚNICAMENTE PARA LA VISTA DE LOGIN*/
.forgot{
     margin-top: 10px;
     text-decoration: none;
     color: var(--negro);
     display: block;
     text-align: left;
}

/*-----------------------------------------*/

/*ESTILOS PARA LOS MENSAJES DE ERROR*/
.espaciado{
     visibility: hidden;
}

span.error,
strong.error{
     display: block;
     text-align: left;
     color: #FD151B;
     margin-bottom: 5px;
}

span.error + .espaciado,
strong.error + .espaciado{
     display: none;
}
/*-----------------------------------------*/

/*ESTILOS ÚNICAMENTE PARA LA VISTA RECOVERY*/
.text-tiny{
     color: var(--negro);
     
}

.text{
     margin-top: 30px;
     text-align: left;
}

.text a{
     margin: 5px 0;
     display: block;
     text-decoration: none;
     color: var(--primario);
}
/*-----------------------------------------*/

@media screen and (max-width: 1400px) {
     .form{
          width: 30%;
          padding: 30px;
     }

     .form .input-group{
          margin-top: 15px;
     }

     .form .input-group .input{
          margin-bottom: 15px;
     }

     .form .input-group input[type="text"],
     .form .input-group input[type="email"],
     .form .input-group input[type="password"]{
          padding: 10px;
          padding-left: 38px;
     }

     .form input[type="submit"]{
          margin-top: 25px;
     }

     .form .sign-in-out{
          margin-top: 25px;
     }
}

@media screen and (max-width: 600px) {
     .logo{
          grid-column: 1/-1 !important;
          justify-self: center;
     }
     
     .form{
          width: 100%;
     }
}