:root {
     --primario: #E71D36;
     --secundario: #2E294E;
     --terciario: #F46036;
     --negro: #333333;
     --gris: #525252;
     --blanco: #F7F7FF;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: var(--blanco);
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto 1fr;
     column-gap: 20px;
     min-height: 100vh;
     margin: 0 50px;
}

/*ESTILOS DE LOS TEXTOS*/
.titulo-principal{
     font-family: 'Rubik';
     font-size: 48px;
     line-height: 57px;
     font-weight: 500;
}

.titulo-secundario{
     font-family: 'Rubik';
     font-size: 40px;
     line-height: 47px;
     font-weight: normal;
}

.titulo-terciario{
     font-family: 'Quicksand';
     font-size: 24px;
     line-height: 30px;
     font-weight: 500;
}

.txt-normal{
     font-family: 'Quicksand';
     font-size: 18px;
     line-height: 22px;
     font-weight: 500;
}

.txt-tiny{
     font-family: 'Quicksand';
     font-size: 16px;
     line-height: 20px;
     font-weight: normal;
}

@media screen and (max-width: 1400px) {
     .titulo-principal{
          font-size: 34px;
          line-height: 40px;
     }
     
     .titulo-secundario{
          font-size: 30px;
          line-height: 36px;
     }
     
     .titulo-terciario{
          font-size: 20px;
          line-height: 25px;
     }
     
     .txt-normal{
          font-size: 16px;
          line-height: 20px;
     }
     
     .txt-tiny{
          font-size: 14px;
          line-height: 17px;
     }
}
