@import url("global.css");

header{
     grid-column-start: 1;
     grid-column-end: 13;

     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto 1fr;
     column-gap: 20px;
     text-align: right;
     margin-top: 30px;
}

header .logo{
     grid-column-start: 1;
     grid-column-end: 2;
}

header .logo img{
     width: 100%;
}

.menu{
     grid-column-start: 9;
     grid-column-end: 13;
     align-self: center;
}

.menu a{
     font-family: 'Quicksand';
     font-weight: 500;
     font-size: 24px;
     line-height: 30px;
     text-decoration: none;
     color: var(--negro);
     margin-left: 15px;
     
     display: inline-flex;
     flex-direction: column;
}

.menu a:visited{
     color: var(--negro);
}

.menu a:hover{
     transition: all ease 0.2s;
     color: var(--primario);
}

.menu a i{
     text-align: center;
}

@media screen and (max-width: 1400px) {
     .menu a{
          font-size: 18px;
     }
}