main{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto 1fr;
     height: fit-content;
     column-gap: 20px;
     margin-top: 80px;
}
main .head{
     grid-column-start: 1;
     grid-column-end: 13;
     text-align: center;
}

main h1{
     color: var(--negro);
     margin-bottom: 10px;
}

/*ESTILOS DEL BANNER*/
.tab-container{
     grid-column: 1/-1;

     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 20px;
     margin-top: 25px;
}

.tab-container button{
     flex: auto;
     padding: 20px;
     background: none;
     border: 3px solid var(--secundario) !important;
     color: var(--negro);
     border-radius: 10px;
     cursor: pointer;
     outline: none;
     border: none;
     font-weight: 800;
}

.tab-container button:hover{
     background: var(--secundario);
     color: var(--blanco);
     
     transition: all 0.2s ease-in-out;
}

.tab-container button.active{
     background: var(--secundario);
     color: var(--blanco);
     transition: all 0.2s ease-in-out;
}

.tab-container button.desactive{
     display: none;
}

.tab-container a{
     outline: none;
     color: var(--secundario);
     text-decoration: none;
}

.tab-container a:active{
     color: var(--primario);
}

.producto-buscado{
     grid-column: 1/-1;
     text-align: center;
     margin-top: 50px;
     color: var(--primario);
     font-weight: 800;
}

/*ESTILOS DEL CONTENEDOR DE LOS PRODUCTOS*/
.products-container{
     grid-column: 1/-1;

     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto 1fr;
     column-gap: 20px;

     margin-top: 50px;
     display: none;/*Lo puse para que todo esté desactivado por defecto*/
}

/* .products-container.cyberpuerta{ */
     /*display: grid;*/ /*En css solo se accede a la tienda que se desea activar*/
/* } */



/* PARA LA SECCION DE PRECIOS BAJOS */

/* #global{
     display: grid;
} */
/*  */

.products-container .card{
     padding: 40px 20px;
     margin-bottom: 20px;
     background: #fff;
     box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.09);
     border-radius: 30px;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;

     opacity: 0;
     transition: all 0.5s;
}

.products-container .card .img-card{
     width: 40%;
}

.products-container .card .img-card img{
     width: 100%;
}

.products-container .card .card-details{
     width: 58%;
}

a{
     cursor: pointer;
     text-decoration: none;
     color: var(--negro);
}

a:hover{
     color: var(--primario);
}

.products-container .card .card-details .card-info .product-name{
     word-wrap: break-word
}

.products-container .card .card-details .card-info .product-price{
     margin-top: 20px;
     color: var(--negro);
}

.products-container .card .card-details .card-icons a{
     display: inline-block;
     margin-top: 40px;
}

.products-container .card .card-details .card-icons a:hover i{
     transition: all ease 0.2s;
     color: var(--primario);
}

.products-container .card .card-details .card-icons i{
     font-weight: 900;
     font-size: 30px;
     line-height: 30px;
     margin-right: 20px;
     color: #fff;
     -webkit-text-stroke: 2px var(--primario);
}

.mostrarArriba {
     animation: mostrarArriba 1s;
}
 
@keyframes mostrarArriba{
     0%{
          transform: translateY(60px);
     }
 
     100%{
         transform: translateY(0);
     }
}

@media screen and (max-width: 1400px) {
     main{
          margin-top: 40px;
     }

     .products-container{
          grid-template-columns: repeat(3, 1fr);
     }
}

@media screen and (max-width: 1200px) {
     .products-container{
          grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (max-width: 600px) {
     main{
          margin-top: 30px;
     }

     .tab-container button{
          padding: 10px;
     }

     .products-container{
          margin-top: 30px;
          grid-template-columns: repeat(1, 1fr);
     }

     .producto-buscado{
          margin-top: 30px;
     }
}

@media not all and (min-resolution:.001dpcm) { 
     @supports (-webkit-appearance: none) {
          .tab-container{
               gap: 0;
          }
     
          .tab-container button{
               margin-bottom: 20px;
          }
     
          .tab-container button:nth-child(odd){
               margin-right: 10px;
          }
     
          .tab-container button:nth-child(even){
               margin-left: 10px;
          }
     
          .tab-container button:nth-last-child(-n+2){
               margin-bottom: 0;
          }
     }
}